body{
    background-color: black;
}
  img:nth-child(1){
    height: 400px;
  }
  img:nth-child(2){
    width: 2200px;
    margin-top: 700px;
    position:fixed ;
    z-index: -1;
    background-size: cover;
    filter: brightness(50%);  
    background-repeat: no-repeat;
    
    overflow: hidden;
                    
}
     
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 25px;
    color: black;
    margin-top: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}
