body{
    background-color: white;
}
h1{
    text-align: center;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
color: red;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    height: 400px;
    width: 600px;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
